// variables.
// fonts sizes.
$tiny: 1rem;
$small: 2rem;
$medium: 4rem;
$mediumLarg : 5rem;
$large: 10rem;
$huge: 20rem;


// color Variables : 
$mainCol : #e50914;



// fonts family.
$logoFont : 'Bebas Neue', cursive;
$mainFont : 'Roboto', sans-serif;
